.idea

# Ignore all example folders except adder and JSON
examples/*
!examples/adder
!examples/json

Taskfile.yml

# Ignore all bench_results folders in any directory
**/bench_results
**/bench_results/*

# Ignore all benchstat folders in any directory
**/benchstat
**/benchstat/*

# Ignore all 7z files
**/*.7z

ext/

# Common files
.git
.gitignore
.dockerignore
Dockerfile
*.log
*.tmp
*.test
*.out